<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504655491961-hdph3b32cvugh9kmctditmi75qlj736p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504655491961-hdph3b32cvugh9kmctditmi75qlj736p</string>
	<key>API_KEY</key>
	<string>AIzaSyAW8ePwMmE5eC7cNBETH8R4K5dBLvIiUAA</string>
	<key>GCM_SENDER_ID</key>
	<string>504655491961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hedihadi.zal</string>
	<key>PROJECT_ID</key>
	<string>rust-calculator-c18eb</string>
	<key>STORAGE_BUCKET</key>
	<string>rust-calculator-c18eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504655491961:ios:9c430c7388ec16f49b35a8</string>
</dict>
</plist>